<h2><%= image_tag @course.image_url%><%= @course.title %></h2>
<h3>via <%= @course.provider %></h3>	

<iframe width="560" height="315" src=<%= @course.youtube_url %> frameborder="0" allowfullscreen></iframe>
<br></br>
<% @professors.each do |professor| %>
	<%= professor.name %>
	<%= image_tag professor.image_url %>
<% end %>
<br></br>
<%= render @course_reviews %>