<div class='course' id='<% course.id %>'>
	<div class="row">
		<div class='span1'>
			<span class='course'><%= image_tag course.image_url%></span>
		</div>
		<div class = 'span8'>
  			<h4><a href=<%= "#{course.provider}/#{course.slug}" %>><span class="text"><%= course.title%> <%= "(#{course.course_code})" if course.course_code != nil%></span></a></h4>
			<br></br>
			<div class='star'>
				<% (1..20 ).each do |num| %>
				<%= star_button( course.id , course.average_rating , num , 4 , true )  %>
				<% end %>
			</div>
			<ul>
				<li class='course'><strong>Subject:</strong> <%= course.subject %></li>
				<li class='course'><strong>Source:</strong> <%= course.provider %></li>
			</ul>
		</div>
	</div>
	<hr>
</div>