<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @course.provider %>
</p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Url:</b>
  <%= @course.url %>
</p>

<p>
  <b>Subject:</b>
  <%= @course.subject %>
</p>

<p>
  <b>Average Rating:</b>
  <%= @course.average_rating %>
</p>

<%= link_to 'Back', courses_path %>
