<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @course.provider %>
</p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Url:</b>
  <%= @course.url %>
</p>

<p>
  <b>Subject:</b>
  <%= @course.subject %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
